---
import Study from "./Icons/Study.astro";
---

<div class="grid sm:grid-cols-2 gap-x-4 gap-y-8">
  <div class="bg-white/5 p-4 border-none rounded-2xl">
    <div
      class="grid place-content-center w-9 h-9 border rounded-full border-none bg-white/5 mb-6"
    >
      <Study />
    </div>
    <div>
        <p class="text-lg md:text-xl">
            ESCOM - Escuela Superior de Cómputo - IPN 
        </p>
    </div>
    <div>
        <p class="text-white/40 text-base md:text-lg">
            2023 - Actual 
        </p>
    </div>
    <div>
        <p class="text-white/40 text-base">
            Licenciatura en Ciencia de Datos
        </p>
    </div>
  </div>
  <div class="bg-white/5 p-4 border-none rounded-2xl">
    <div
      class="grid place-content-center w-9 h-9 border rounded-full border-none bg-white/5 mb-6"
    >
      <Study />
    </div>
    <div>
        <p class="text-lg md:text-xl">
            Centro de Estudios Científicos y Tecnológicos N° 8 "Narciso Bassols" IPN 
        </p>
    </div>
    <div>
        <p class="text-white/40 text-base md:text-lg">
            2021 - 2023 
        </p>
    </div>
    <div>
        <p class="text-white/40 text-base">
            Técnico en Computación
        </p>
    </div>
  </div>
</div>
